
body{
	background-color: #e2bcb7;
}

.container{
  width: 700px;
  margin: 40px auto;
}
.card-white{
 background-color:white;
 border-radius:5px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 padding: 60px;
 margin: 20px 150px;
 text-align: center;

}



h1{font-family: chango, sans-serif;
    
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 800;
    text-align: center;

}
.ronde { border-radius: 50%;
width: 200px;
display:block;
margin:auto
}


  	
h2{
   	font-size: 20px;
   	letter-spacing: 2px;
   	font-weight: lighter; 
   	text-align: center;
   	font-family: chango;

   }
   p {
   	text-align:center;
    font-family: helvetica;
   }
   a{
   	color: darkslateblue;
   	font-size: 30px;
   	font-family: roboto slab, sans-serif;
   	font-size: 20px;
   	text-decoration: none;
   }


    .btn-blue{
      background-color: #6B3A61;
      color: white;
      padding: 10px 30px;
      border-radius: 4px;
      font-size: smaller;
    }

    .btn-blue:hover{
      background-color: black;
      color: white;
    }

    .list-inline{
      list-style: none;
      padding-left: 0px;
    }

    .list-inline li {
      display: inline;
      padding:10px;

    }

    .list-inline i {
      font-size: 50px;
      color:#6B3A61;
    }

    .list-inline i:hover{
     color:pink ;
    }

    #introduction p {
      margin-bottom: 40px;

    }

    @media (max-width: 960px) {
  
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
 
  .container {
    width: 300px;
  }
}

   
